/* Base Styles */
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #001a76;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
    padding: 10px;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #001a76;
    border-radius: 5px;
}

/* Main Content */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
}

.about-me, .web, .projects {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-me h2, .web h2, .projects h2 {
    background-color: #ccc;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}

.about-me h3 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
}

hr {
    width: 65%;
    margin: 20px auto;
}

.about-me p, .web ul, .projects p {
    margin: 10px 0;
    line-height: 1.6;
}

.web ul {
    padding: 40px;
}

.web ul li {
    margin: 5px 0;
}

.web ul li a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.2rem;
}

.web ul li a:hover {
    text-decoration: underline;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile-img {
    border-radius: 5px;
    width: 150px;
    height: auto;
    margin-top: 10px;
}

.flag {
    width: 100px;
    height: auto;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Footer */
footer p {
    margin: 5px 0;
    font-size: 0.9rem;
}

footer p span {
    color: #f1c40f;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav a {
        padding: 10px 5px;
        font-size: 0.9rem;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .container {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}