@media (min-width: 600px) {
    .menu {
        display: flex; /* Sempre visível no desktop */
        flex-direction: row; /* Alinha os itens horizontalmente */
        justify-content: space-around;
        position: static; /* Remove o posicionamento absoluto */
        background-color: transparent;
        box-shadow: none;
    }

    .hamburger {
        display: none; /* Esconde o botão hambúrguer no desktop */
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
